<header
    class="bg-tk-elements-topBar-backgroundColor transition-theme border-b border-tk-elements-app-borderColor flex max-w-full items-center p-3 px-6 max-h-[4rem]"
>
    <div class="flex flex-1 awesome-logo">
        <slot name="logo"/>
    </div>
    <div class="mr-2">
        <slot name="open-in-stackblitz-link"/>
    </div>
    <div>
        <slot name="theme-switch"/>
    </div>
    <div>
        <slot name="login-button"/>
    </div>
</header>
